h2 Interfug 2016
p Der #[a(href='https://chaoschemnitz.de', title='Chaostreff Chemnitz') Chaostreff Chemnitz]
    |  veranstaltet am letzten Augustwochenende (#[b= date])  seine zweite Konferenz.
    | Damit das auch ordentlich Spaß macht und ihr euer Wissen möglichst effizient verbreiten könnt,
    | bieten wir eine Bühne und Raum für Vorträge, Workshops und Hacking an.
img(alt='die A102 bei Nacht', src='/assets/images/chch_nacht.jpg' width='500')
